body {
  font-family: 'montserratsemibold';
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  width: 1800px;
  height: 40px;
}

.header__logo {
  display: inline-block;
  width: 166px;
  height: 51px;
  background: url(./images/logo.png);
  margin-left: 34px;
  margin-top: 40px
}

.header__menu {
  display: flex;
  justify-content: start;
  flex-flow: row nowrap;
  width: 600px;
  height: 40px;
  margin-top: 42px;
  margin-left: 259px;
}

.menu__link_modelS {
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-top: 0;
}

.top__line {
  display: flex;
  align-items: center;
  margin-left: -61px;
  margin-top: 34px;
}

.menu__link_modelX {
  display: flex;
  align-items: center;
  margin-left: 65px;
}

.menu__link_model3 {
  display: flex;
  align-items: center;
  margin-left: 26px;
}
.menu__link_roadster{
  display: flex;
  align-items: center;
  margin-left: 44px;
}

.menu__link_energy {
  display: flex;
  align-items: center;
  margin-left: 48px;
}

.top__Energy {
  margin-top: 5px;
}

.header__right {
  display: flex;
  justify-content: start;
  margin-left: 150px;
  margin-top: 43px;
}

.menu__link_shop {
  display: flex;
  align-items: center;
  margin-left: -39px;
}

.menu__link_entrance {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.header__burger {
  display: flex;
  align-items: center;
  width: 24px;
  height: 17px;
  background: #E51937;
  background: url(./images/Vector.png);
  margin-left: 30px;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
} 

.top__title {
  display: flex;
  align-items: center;
  width: 370px;
  height: 10px;
  left: 535px;
  font-weight: 600;
  font-size: 90px;
  line-height: 10px;
  color: #000000;
  margin-left: 527px;
  margin-bottom: 40px;
  margin-top: 135px;
}

.top__subtitle {
  display: flex;
  align-items: center;
  width: 250px;
  height: 16px;
  left: 600px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-left: 590px;
  margin-top: 43px;
}

.top__avto {
  display: flex;
  align-items: center;
  width: 968px;
  height: 450px;
  margin-left: 190px;
  margin-top: -323px;
}

.top__fon {
  display: flex;
  align-items: center;
  width: 1514px;
  height: 467px;
  background: url("./images/fon.png");
  margin-top: -131px;
  margin-left: -10px;
}

.other {
  display: flex;
  justify-content: start;
  flex-flow: row nowrap;
  width: 1000px;
  height: 40px;
  margin-left: 200px;
}

.other__speedometr {
  display: flex;
  align-items: center;
  margin-left: 109px;
  margin-top: 57px;
}

.other__tablo {
  display: flex;
  align-items: center;
  margin-left: -38px;
  margin-top: 58px;
}

.other__strelka {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-top: 60px;
}

.other__left {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: #000;
  margin-top: 47px;
  margin-left: 20px;
}

.other__sec {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 53px;
  margin-left: 8px;
}

.other__bottom-l {
  display: flex;
  align-items: center;
  margin-left: -94px;
  margin-top: 53px;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  width: 200px;
  height: 40px;
}

.other__center {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 35px;
  color: #000;
  margin-left: -122px;
}

.other__core {
  display: flex;
  align-items: center;
  margin-left: 98px;
  margin-top: 74px;
  position: relative;
}

.other__focus {
  display: flex;
  align-items: center;
  width: 33px;
  height: 45px;
  margin-left: -30px;
  margin-top: 70px;
  background: url("./images/trassa.png");
}

.other__ellipse-top {
  display: flex;
  align-items: center;
  margin-left: -6px;
  margin-top: 32px;
}

.other__ellipse-bot {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: 116px;
}

.other__point-top {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-top: 32px;
}

.other__point-bot {
  display: flex;
  align-items: center;
  margin-left: -26px;
  margin-top: 116px;
}

.other__heart {
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-top: 55px;
}

.other__km {
  display: flex;
  align-items: center;
  margin-left: 7px;
  margin-top: 63px;
  font-size: 20px;
}

.other__bottom-с {
  display: flex;
  align-items: center;
  margin-left: -97px;
  margin-top: 107px;
  font-size: 12px;
  width: 100px;
}

.other__test {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-top: 0;
}

.other__drive {
  display: flex;
  align-items: center;
  margin-left: -13px;
  margin-top: -5px;
}

.other__testdr {
  display: flex;
  align-items: center;
  margin-left: -13px;
  margin-top: 18px;
}

.other__testdrive {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-left: 5px;
}

.other__icon {
  display: flex;
  align-items: center;
  margin-top: 55px;
  margin-left: 104px;
}

.other__vector3 {
  display: flex;
  align-items: center;
}

.other__point2 {
  margin-top: 0;
  margin-left: 0;
}

.other__vector4 {
  display: flex;
  align-items: center;
  margin-top: -13px;
  margin-left: 3px;
}

.other__click {
  display: flex;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 2px solid #e51937;
  box-sizing: border-box;
  color: #e51937;
  background: #ffffff;
  margin-left: 38px;
  margin-top: 34px;
}

.other__button {
  display: flex;
  align-items: center;
  margin-left: 36px;
  margin-top: 0;
}

.center__v1 {
  display: flex;
  align-items: center;
  margin-left: 695px;
  margin-top: 77px;
}

.middle__title {
  color: red;
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  margin-left: 72px;
  margin-top:99px;
  position: relative;
}

.middle__image {
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-top: -155px;
}

.content {
  display: flex;
  align-items: center;
  width: 438px;
  height: 898px;
  background: url("./images/aside1.png");
  margin-left: 993px;
  margin-top: -898px;
  position: relative;
}

.content__right  {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  width: 316px;
  height: 206px;
  margin-top: -352px;
  margin-left: -389px;
}

.content__headline {
  width: 438px;
  height: 40px;
}

.content__title {
  display: flex;
  align-items: center;
  margin-top: -379px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 30px;
  line-height: 37px;
  white-space: nowrap;
}


.content__crisper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.content__smart {
  display: flex;
  align-items: center;
  margin-left: -387px;
  margin-top: -120px;
}


.content__wifi {
  display: flex;
  align-items: center;
  margin-left: -189px;
  margin-top: 90px;
}

.content__battery {
  display: flex;
  align-items: center;
  margin-left: -265px;
  margin-top: 280px;
}

.content__bottom {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.content__disk {
  display: flex;
  align-items: center;
  margin-left: -390px;
  margin-top: 735px;
}

.content__i {
  display: flex;
  align-items: center;
  margin-left: -12px;
  margin-top: 735px;
}

.content__text {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 735px;
}

.content__click {
  display: flex;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  background: #e51937;
  margin-left: 33px;
  margin-top: 736px;
}

.content__snap {
  display: flex;
  align-items: center;
  margin-left: 33px;
}

.container {
  width: 450px;
  height: 900px;
  background: url("./images/aside1.png");
  margin-left: -5px;
}

.container__aside {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.container__title {
  margin-top: -750px;
  margin-left: 30px;
  color: #ffffff;
  font-size: 30px;
  line-height: 37px;
  width: 400px;
  height: 100px;
}
 
.container__subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  width: 316px;
  height: 206px;
  margin-top: -250px;
  margin-left: -50px;
}

.container__title-center {
  color: #fff;
  margin-top: 190px;
  margin-left: -270px;
}

.container__front {
  margin-top: 300px;
  margin-left: -260px;
}

.container__stars {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 40px);
  width: 150px;
  height: 300px;
  margin-top: 600px;
  margin-left: 300px;
}

.container__side {
  margin-top: 400px;
  margin-left: -88px;
}

.container__side-discription {
  margin-top: 500px;
  margin-left: -63px;
}

.container__driver {
  margin-top: 600px;
  margin-left: -116px;
}

.container__passenger {
  margin-top: 700px;
  margin-left: -102px;
}

.container__center {
  margin-top: 700px;
  margin-left: 0;
  width: 400px;
  height: 60px;
}

.container__bottom {
  margin-left: 50px;
  margin-top: 900px;
  width: 400px;
  height: 200px;
}

.container__disk {
  margin-left: 50px;
  margin-top: 900px;
}

.container__i {
  margin-left: -13px;
  margin-top: 900px;
}

.container__key {
  margin-left: 20px;
  margin-top: 900px;
}

.container__click {
  width: 160px;
  height: 40px;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  background: #e51937;
  margin-left: 0;
  margin-top: 0;
}

.container__snap {
  margin-left: 20px;
}

.underside__car {
  display: flex;
  align-items: center;
  margin-left: 300px;
  margin-top: -750px;
}